body {
    background-color: lightsteelblue;
}

.centered{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
}

a {
    display: block;
    width: -moz-fit-content;  
    /* border: 3px solid green; */
}

/* a.left{
    text-align: right;
} */

.container {
    margin-top: 20px;
    margin-bottom: 80px;
    background-color: rgb(213, 213, 213);
}

.btn-block {
    /* border: 3px solid green; */
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.inactive {
    display: none;
}

div.stats button{
    margin-bottom: 20px;
}

div.search-page button{
    margin-top: 10px;
    margin-bottom: 20px;
}
h1{
    color: brown;
}

table a{
    color: black;
}

#waiting, div.book, div.stats{
    display: none;
}
/* table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(100, 100, 100);
} */
/* .book{
    display: none;
}
.book.active{
    display:block;
} */